/**
 * ButtonRemove
 */

.popover_button
	padding 5px

	&
	&:hover
	&:focus
		background-color #23282c
		border 1px solid rgba(255,255,255,0.2)
		color rgba(255,255,255,0.8)
		padding .7em 1em

.toggle_button
	margin-right -5px

.popover
	min-width 50px
	z-index 999999
