/**
 * Items
 */

+prefix-classes('mbpl-')

	.items
		display flex
		flex-direction column

		.button-add
			margin-top 10px
			align-self flex-end

			&
			&:hover
			&:focus
				border 1px solid rgba(0,0,0,0.3)
