/**
 * Item
 */

.container
	padding 10px 40px 40px
	background-color rgba(0,0,0,.05)
	border-bottom 1px dashed rgba(0,0,0,.2)
	transition background-color .1s .1s $e_standard

	&:hover
		background-color rgba(0,0,0,.07)

	&:last-child
		border-bottom none

.buttons
	display flex
	justify-content flex-end
	align-items center
	margin-bottom 15px
